<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/Layout">
    <head>
        <title>Studio Le Pilates</title>
    </head>
    <section layout:fragment="content">
        <div class="jumbotron">
            <div class="container">
                <h2 class="display-2"> Bem vindo!</h2>
                <p class="text-align" style="font-size: 20px">Este sistema foi desenvolvido para gerenciamento, cadastros de
                    pacientes e pagamentos, emissão de relatórios e controle
                    financeiro.</p>
            </div>
        </div>
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Cadastros</h2>
                    <p class="text-align">Cadastros de pacientes e de Pagamentos para controle e gerenciamento
                        de quantidade total de atendimentos e os recebimentos pelo serviço efetuado.</p>
                    <p>
                        <a class="btn btn-primary" th:href="@{/pacientes/novo}" sec:authorize-url="/pacientes/novo"
                           role="button">Ir até cadastro de Pacientes »</a>
                    </p>
                    <br/>
                    <p>
                        <a class="btn btn-primary" th:href="@{/pagamentos/novo}" sec:authorize-url="/pagamentos/novo"
                           role="button">Ir até cadastro de Pagamentos »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Pesquisas</h2>
                    <p class="text-align">Pesquisas por nome dos pacientes e pelo procedimento relacionados
                        aos pagamentos efetuados ou ainda pendentes de recebimento. Podendo editar, atualizar e 
                        excluir pacientes e pagamentos do cadastro. Para controle de cadastros no sistema.</p>
                    <p>
                        <a class="btn btn-primary" th:href="@{/pacientes}" sec:authorize-url="/pacientes"
                           role="button">Ir até pesquisa de Pacientes »</a> 
                    </p>
                    <br/>
                    <p>
                        <a class="btn btn-primary" th:href="@{/pagamentos}" sec:authorize-url="/pagamentos" 
                           role="button">Ir até pesquisa de Pagamentos »</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <h2>Relatórios</h2>
                    <p class="text-align">Relatório de Pacientes cadastrados no sistema e de Pagamentos 
                        já efetuados e daqueles que ainda se encontram pendentes de pagamentos, para controle e 
                        gerenciamento das movimentações financeiras.</p>
                    <p>
                        <a class="btn btn-primary" th:href="@{/relatorios/pacientes}" sec:authorize-url="/relatorios/pacientes"
                           role="button">Ir até relatório de Pacientes »</a> 
                    </p>
                    <br/>
                    <p>
                        <a class="btn btn-primary" th:href="@{/relatorios/pagamentos}" sec:authorize-url="/relatorios/pagamentos"
                           role="button">Ir até relatório de Pagamentos »</a>
                    </p>
                </div>
            </div>
            <hr />
            <footer style="text-align: center;">
                <p>© Studio Le Pilates 2018 - Todos os direitos reservados!</p>
            </footer>
        </div>
    </section>
</html>